#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "create-menu", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title Cart
        .modal-body
          %table.table.table-centered
            %tr
              %th Item
              %th Quantity
              %th
              %th Price
              %th
            - total = 0
            - tax = 0
            - if params[:cart] && params[:cart][:items]
              - params[:cart][:items].keys.each do |id|
                %tr
                  %td= Item.find(id).name
                  %td= params[:cart][:items][id]
                  %td
                    %button +
                    %button -
                  %td= Item.find(id).price * params[:cart][:items][id]
                  %td
                    %button Remove
                - params[:cart][:items].each do |id,qty|
                  - total = total + Item.find(id).price * qty
            %tr
              %td 
                %b Subtotal
              %td
              %td
              %td= total
              %td
            %tr
              %td
                %b Tax
              %td
              %td
              %td= tax
              %td
            %tr
              %td
                %b Total
              %td
              %td
              %td= total + tax
              %td
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Pay
      