%table.table.table-centered
  %tr
    %th.col-md.6 Item
    %th.col-md-2 Price
    %th.col-md-2 Quantity
    %th.col-md-2
    - if @cart_items
      - @cart_items.each do |item, qty|
        %tr{:id => item.id}
          %td= item.name
          %td.price= "$#{number_with_precision(item.price, :precision => 2)}"
          %td.qty
            = qty
            %button.btn.btn-xs.btn-default.plus.item-qty-buttons{:id => "#{item.id}-item-plus"}+
            %button.btn.btn-xs.btn-default.minus.item-qty-buttons{:id => "#{item.id}-item-minus"}-
          %td
            %button.btn.btn-xs.btn-danger.item-remove-button{:id => "#{item.id}-item-remove"} Remove
  %tr
    %td{:align => 'right'}
      %b Subtotal
    %td
    %td#subtotal.centered= "$#{number_with_precision(@subtotal, :precision =>2)}"
    %td
  %tr
    %td{:align => 'right'}
      %b Tax
    %td#tax-pct #{@tax}%
    %td#tax-total.centered= "$#{number_with_precision(@tax_total, :precision => 2)}"
    %td
  %tr
    %td{:align => 'right'}
      %b Total
    %td
    %td#total.centered= "$#{number_with_precision(@total, :precision => 2)}"
    %td