#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "create-menu", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title Cart
        .modal-body
          %table.table.table-centered
            %tr
              %th Item
              %th Price
              %th Quantity
              %th 
              %th
            - total = 0
            - tax = 0.09
            - if params[:cart] && params[:cart][:items]
              - params[:cart][:items].keys.each do |id|
                %tr{:id => id}
                  %td= Item.find(id).name
                  %td{:class => 'price'}= Item.find(id).price
                  %td.qty= params[:cart][:items][id]
                  %td
                    %button.plus.qty-buttons +
                    %button.minus.qty-buttons -
                  %td
                    %button Remove
                - params[:cart][:items].each do |id,qty|
                  - total = total + Item.find(id).price * qty
            %tr
              %td 
                %b Subtotal
              %td
              %td
              %td#subtotal= total
              %td
            %tr
              %td
                %b Tax
              %td
              %td#tax-pct 9.00%
              %td#tax-total= total * tax
              %td
            %tr
              %td
                %b Total
              %td
              %td
              %td#total= total + (total * tax)
              %td
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Pay
      