%table.table.table-centered
  %tr
    %th Item
    %th Price
    %th Quantity
    %th 
    %th
    - if @cart_items
      - @cart_items.each do |item, qty|
        %tr{:id => item.id}
          %td= item.name
          %td.price= item.price
          %td.qty= qty
          %td
            %button.plus.qty-buttons +
            %button.minus.qty-buttons -
          %td
            %button Remove
  %tr
    %td 
      %b Subtotal
    %td
    %td
    %td#subtotal= @subtotal
    %td
  %tr
    %td
      %b Tax
    %td
    %td#tax-pct #{@tax}%
    %td#tax-total= number_with_precision(@tax_total, :precision => 2)
    %td
  %tr
    %td
      %b Total
    %td
    %td
    %td#total= number_with_precision(@total, :precision => 2)
    %td