#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cart", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title Cart
      #cart-modal-body.modal-body
        #spinner-cart-center{"style" => "position: absolute;display: block;top: 50%; left: 50%"}
        #cart-and-payment
          #cart-modal-table
            = render 'cart/cart-modal-body'
          #cart-payment-info{:hidden => true}
            = form_for :checkout, :html => {:id => "payment-form"} do |f|
              = f.label :first_name
              %br
              = f.text_field :first_name, {:class => "form-control"}
              %br
              = f.label :last_name
              %br
              = f.text_field :last_name, {:class => "form-control"}
              %br
              = f.label :card_number
              %br
              = f.text_field :card_number, {:class => "form-control"}
              %br
              = f.label :exp_date
              %br
              = f.text_field :exp_date, {:class => "form-control"}
              %br
              = f.label :cvv
              %br
              = f.text_field :cvv, {:class => "form-control"}
              %br
              = submit_tag "Continue", {:class => "btn btn-primary"}
      #cart-modal-footer.modal-footer
        %button#checkout-btn.btn.btn-default{type: "button"} Checkout
