#cart.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "cart", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#cartLabel.modal-title
          %span.glyphicon.glyphicon-shopping-cart
      #cart-modal-body.modal-body
        #spinner-cart-center{"style" => "position: absolute;display: block;top: 50%; left: 50%"}
        #cart-and-payment
          #cart-modal-table
            = render 'cart/cart-modal-body'
          #cart-payment-info{:hidden => true}
            %hr
            = form_tag pay_path, :method => :post, :id => "payment-form" do |f|
            - if user_signed_in?
              - if !current_user.defaultCreditCard
                = render 'credit_cards/credit-card-info-fields'
                %br
                = submit_tag "Pay", {:class => "btn btn-primary", :id => "pay-button"}
                Your payment will be processed
              - else
                %br
                = submit_tag "Pay with card ending in #{current_user.defaultCreditCard.last_four}", {:class => 'btn btn-primary', :id => "pay-button"}
                Your payment will be processed
            - else
              = render 'credit_cards/credit-card-info-fields'
              %br
              = render 'users/guest-info-fields'
              %br
              = submit_tag "Pay", {:class => "btn btn-primary", :id => "pay-button"}
              Your payment will be processed
      #cart-modal-footer.modal-footer
        %button#checkout-btn.btn.btn-default{type: "button"} Checkout
