%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :first_name
    %br/
    = f.text_field :first_name
  %div
    = f.label :last_name
    %br/
    = f.text_field :last_name
  %br/
  %b Phone number
  %br/
  = f.fields_for :phone_number_attributes do |p|
    %div
    = p.text_field :country, {:class => "bfh-phone", "data-format" => "dd", :value => resource.phone_number ? resource.phone_number.country : "", :size => 2}
    = p.text_field :area, {:class => "bfh-phone", "data-format" => "ddd", :value => resource.phone_number ? resource.phone_number.area : "", :size => 3, :placeholder => "Area"}
    = p.text_field :number, {:class => "bfh-phone", "data-format" => "ddd-dddd", :value => resource.phone_number ? resource.phone_number.number : "", :size => 8, :placeholder => "Number"}
    = p.text_field :extension, {:class => "bfh-phone", "data-format" => "ddddddd", :value => resource.phone_number ? resource.phone_number.extension : "", :size => 7, :placeholder => "Extension"}
  %br/
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  %br/
  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password
  %div= f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
= link_to "Back", :back
