.col-lg-7.col-lg-offset-1.col-md-8.col-md-offset-1.col-sm-9.col-sm-offset-1
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      .col-lg-6.col-md-6.col-sm-6
        = f.label :first_name
        %br/
        = f.text_field :first_name, {:class => "form-control name-field first-name-field"}
      .col-lg-6.col-md-6.col-sm-6
        = f.label :last_name
        %br/
        = f.text_field :last_name, {:class => 'form-control name-field'}
    .row
      .col-lg-6.col-md-6.col-sm-6
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true, :class => "form-control email-field"
      .col-lg-6.col-md-6.col-sm-6
        = f.label :phone_number
        %br/
        = f.text_field :phone_number, {:class => 'bfh-phone phone-number-field form-control', 'data-format' => '+1 (ddd) ddd-dddd'}
    .row
      .col-lg-6.col-md-6.col-sm-6
        = f.label :password
        %br/
        = f.password_field :password, {:class => "form-control password-field"}
      .col-lg-6.col-md-6.col-sm-6
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, {:class => "form-control password-field"}
    %br
    %div= f.submit "Sign up", {:class => "btn btn-success"}
  = render "devise/shared/links"
