%h4 Credit Card info
- if @cc_errors.present?
  #credit-card-errors.alert.alert-danger
    %ul
    - @cc_errors.each do |error|
      %li
        = error.message
= fields_for :credit_card do |f|
  #credit-card-info
    .inline-block
      = f.label :card_number
      %br
      = f.text_field :card_number, {:class => "form-control input-field cc-number-field bfh-phone", "data-format" => "dddd-dddd-dddd-dddd", "data-encrypted-name" => "credit_card[card_number]"}
    .inline-block
      = f.label :exp_date
      %br
      = f.text_field :exp_date, {:class => "form-control input-field cc-exp-date-field bfh-phone", "data-format" => "dd/dddd", :placeholder => "mm/yyyy", "data-encrypted-name" => "credit_card[exp_date]"}