%h4 Credit Card info
= fields_for :credit_card do |f|
  .inline-block
    = f.label :first_name
    %br
    = f.text_field :first_name, {:class => "form-control checkout-field name-field first-name-field"}
  .inline-block
    = f.label :last_name
    %br
    = f.text_field :last_name, {:class => "form-control checkout-field name-field"}
  #credit-card-info
    .inline-block
      = f.label :card_number
      %br
      = f.text_field :card_number, {:class => "form-control checkout-field cc-number-field bfh-phone", "data-format" => "dddd-dddd-dddd-dddd"}
    .inline-block
      = f.label :exp_date
      %br
      = f.text_field :exp_date, {:class => "form-control checkout-field cc-exp-date-field bfh-phone", "data-format" => "dd/dddd"}
    .inline-block
      = f.label :cvv
      %br
      = f.text_field :cvv, {:class => "form-control checkout-field cc-cvv-field bfh-phone", "data-format" => "ddd"}