= form_for(@delivery_point) do |f|
  - if @delivery_point.errors.any?
    #error_explanation
      %h2
        = pluralize(@delivery_point.errors.count, "error")
        prohibited this delivery_point from being saved:
      %ul
        - @delivery_point.errors.full_messages.each do |msg|
          %li= msg
  = f.fields_for :address do |a|
    .field
      = a.label :city
      %br/
      = a.text_field :city
    .field
      = a.label :line1
      %br/
      = a.text_field :line1
    .field
      = a.label :line2
      %br/
      = a.text_field :line2
    .field
      = a.label :state
      %br/
      = a.text_field :state
    .field
      = a.label :zip
      %br/
      = a.text_field :zip
  .field
    = f.label :latitude
    %br/
    = f.text_field :latitude
  .field
    = f.label :longitude
    %br/
    = f.text_field :longitude

  .actions
    = f.submit
