<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @delivery_point.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @delivery_point.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @delivery_point.longitude %>
</p>

<p>
  <b>Customer:</b>
  <%= @delivery_point.customer %>
</p>

<p>
  <b>Delivery area:</b>
  <%= @delivery_point.delivery_area %>
</p>


<%= link_to 'Edit', edit_delivery_point_path(@delivery_point) %> |
<%= link_to 'Back', delivery_points_path %>
