<<<<<<< HEAD
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :role
    %br/
    = f.number_field :role
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
||||||| merged common ancestors
=======
= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :role
    %br/
    = f.select(:role, options_for_select([ ['Admin', User::ADMIN], ['Vendor', User::VENDOR], ['Server', User::SERVER], ['Customer', User::CUSTOMER]], :selected => @user.role))
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :phone_number
    %br/
    = f.number_field :phone_number
  .actions
    = f.submit
>>>>>>> master
