%h4 Guest info
%span An account will be made for you
%br
= fields_for :user do |u|
  .inline-block
    = u.label :email
    %br
    = u.text_field :email, {:class => "form-control checkout-field email-field"}
  .inline-block
    = u.label :phone_number
    %br
    = u.text_field :phone_number, {:class => "form-control checkout-field phone-number-field bfh-phone", "data-format" => "+1 (ddd) ddd-dddd"}
  #password-info
    .inline-block
      = u.label :password
      %br
      = u.text_field :password, {:class => "form-control checkout-field password-field"}
    .inline-block
      = u.label :password_confirmation
      %br
      =u.text_field :password_confirmation, {:class => "form-control checkout-field password-field"}