%br
- if user_signed_in?
  %div
    %a.pull-right{href: edit_user_registration_path}Edit account info
    %h4 Account Info
  %strong Name
  %br
  = current_user.first_name
  = current_user.last_name
  %br
  %br
  %strong Email
  %br
  = current_user.email
  %br
  %br
  %strong Phone number
  %br
  = current_user.phone_number.asString
  %br
  %br
  %br
  = render 'credit_cards/all-cards'
  %br
  %br
  %br
  %div
    %h4 Order History
  = paginate @orders
  %table.table.table-centered
    %tr
      %th Order#
      %th Date
      %th Amount
    - @orders.each do |order|
      %tr
        %td= link_to '#' + order.id.to_s.rjust(8, "0"), order
        %td= order.created_at.to_formatted_s(:long_ordinal)
        %td= number_to_currency order.total
  = paginate @orders
