%h1 Listing users
= paginate @users
%table.table.table-centered
  %tr
    %th Role
    %th Name
    %th Email
    %th Delivery Area
    %th
    %th
  - @users.each do |user|
    %tr
      %td= User::ROLES_MAPPING[user.role]
      %td= link_to user.first_name + ' ' + user.last_name, user
      %td
        %a{href: 'mailto:' + user.email}= user.email
      -if user.server?
        %td= DeliveryArea.where(:server_id => user.id).first.name
      -else
        %td= "n/a"
= paginate @users
%br/
= link_to 'New User', new_user_path

