%table.table.table-centered
  %tr
    %th
    %th
  %tr
    %td
      %b Role
    %td= User::ROLES_MAPPING[@user.role]
  %tr
    %td
      %b First Name
    %td= @user.first_name
  %tr
    %td
      %b Last Name
    %td= @user.last_name
  %tr
    %td
      %b Email
    %td= @user.email
  %tr
    %td
      %b Phone Number
    %td= @user.phone_number.asString

= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-warning btn-sm'
|
= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-sm'
|
\#{link_to 'Back', users_path, :class => 'btn button-default btn-sm active'}