= paginate @orders
%table.table.table-centered
  %tr
    %th Order#
    - unless @no_date
      %th Date
    %th User
    %th Email
    %th Transaction ID
  - @orders.each do |order|
    %tr
      %td= link_to '#' + order.id.to_s.rjust(8, "0"), order
      - unless @no_date
        %td= order.created_at.to_formatted_s(:long_ordinal)
      - if order.user
        %td= link_to order.customer_name, order.user
      - else
        %td= order.customer_name
      %td
        %a{href: 'mailto:' + order.customer_email}= order.customer_email
      %td= order.transaction_id
= paginate @orders
