<h1>Listing phone_numbers</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Area</th>
    <th>Number</th>
    <th>Extension</th>
    <th>Vendor</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_numbers.each do |phone_number| %>
  <tr>
    <td><%= phone_number.country %></td>
    <td><%= phone_number.area %></td>
    <td><%= phone_number.number %></td>
    <td><%= phone_number.extension %></td>
    <td><%= phone_number.vendor %></td>
    <td><%= phone_number.user %></td>
    <td><%= link_to 'Show', phone_number %></td>
    <td><%= link_to 'Edit', edit_phone_number_path(phone_number) %></td>
    <td><%= link_to 'Destroy', phone_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone number', new_phone_number_path %>
