%h1 Listing vendors
%table.table.table-centered
  %tr
    %th Name
    %th Address
    %th Email
    %th
    %th
    %th
  - @vendors.each do |vendor|
    %tr
      %td= vendor.name
      %td= vendor.address.to_s
      %td= vendor.email
      %td= link_to 'Show', vendor, :class =>  "btn btn-info btn-sm"
      %td= link_to 'Edit', edit_vendor_path(vendor), :class =>  "btn btn-warning btn-sm"
      %td= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' }, :class =>  "btn btn-danger btn-sm"
%br/
= link_to 'New Vendor', new_vendor_path
