= form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :vendor
    %br/
    = collection_select :item, :vendor_id, Vendor.all, :id, :name, {:prompt => 'Select a vendor' }
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .field
    = f.label :description
    %br/
    = f.text_area :description, :rows => 3
  .field
    = f.label :quantity
    %br/
    = f.number_field :quantity
  .field
    = f.label :expires_at
    %br/
    = f.datetime_select :expires_at

  %fieldset
    %legend
      = string = defined?(@item.name) ?  "#{@item.name}'s Ingredients" : nil
    = render('ingredients_table', :f => f )
    = link_to_add_fields("Add Ingredient", f, :ingredients, :class => "btn btn-primary", :title => "Add a new Ingredient to this Item.")
  .actions
    = f.submit
