
%h1 Listing items
%table.table.table-centered
  %tr
    %th Name
    %th Vendor
    %th Price
    %th Description
    %th Quantity
    %th Expires at
    %th
    %th
    %th
  - @items.each do |item|
    %tr
      %td= item.name
      %td= item.vendor ? item.vendor.name : ""
      %td= "$ #{item.price}"
      %td= item.description
      %td= item.quantity
      %td= item.expires_at
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Item', new_item_path
