%p
  %b Name:
  = @item.name
%p
  %b Vendor:
  = @item.vendor ? @item.vendor.name : ""
%p
  %b Price:
  = "$ #{@item.price}"
%p
  %b Description:
  = @item.description

%p
  %b Ingredients:
  - @item.ingredients.each do |ingredient|
    %br/
    = ingredient.name

= link_to 'Edit', edit_item_path(@item), :class =>  "btn btn-warning btn-sm"
|
\#{link_to 'Back', items_path, :class =>  "btn btn-default btn-sm"}
