= form_for(@delivery_area) do |f|
  - if @delivery_area.errors.any?
    #error_explanation
      %h2
        = pluralize(@delivery_area.errors.count, "error")
        prohibited this delivery_area from being saved:
      %ul
        - @delivery_area.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-6
      .field
        = f.label :name
        %br/
        = f.text_field :name, :class => "form-control"

      .field
        #delivery-points
          %h3 Delivery Points
          %table.table.table-centered.table-striped.table-hover
            %thead
              %tr
                %th Address
                %th
            %tbody
              - @delivery_area.delivery_points.each do |delivery_point|
                %tr
                  %td= delivery_point.address
                  %td
                    %button.remove-from-delivery-area.btn.btn-xs.btn-primary{data: {"delivery-point-id" => delivery_point.id}}
                      Remove
                  %input{type: "hidden", name: "menu[delivery_points][]", value: delivery_point.id }

      .actions
        = f.submit(:class =>  "btn btn-primary btn-sm")

    .col-md-6
      #add-delivery-point
        %h3 Add Delivery Points to Delivery Area
        = f.label "Add Delivery Points by State"

        %select#select-state
          - Address.uniq.pluck(:state).each do |state|
            %option{:value => state}
              = state

        %table.table.table-centered.table-striped.table-hover#delivery-point-choices
          %thead
            %tr
              %th Address
              %th
          %tbody
