%h1 Delivery Areas
%table.table.table-centered
  %tr
    %th Name

    %th
    %th
    %th
  - @delivery_areas.each do |delivery_area|
    %tr
      %td= delivery_area.name

      %td= link_to 'Show', delivery_area, :class =>  "btn btn-info btn-sm"
      %td= link_to 'Edit', edit_delivery_area_path(delivery_area), :class =>  "btn btn-warning btn-sm"
      %td= link_to 'Destroy', delivery_area, method: :delete, data: { confirm: 'Are you sure?' }, :class =>  "btn btn-danger btn-sm"
%br/
= link_to 'New Delivery area', new_delivery_area_path, :class =>  "btn btn-primary btn-sm"
