!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/navbar'
    #main
      .main.container
        - flash.each do |type, message|
          %div#main-alert{:class => "alert alert-#{flash_to_bootstrap(type)}"}
            %p= message
        = yield
    = render 'layouts/modals'

